html{
    scroll-behavior: smooth;
}
body {
    background-color: #2f3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
.div-form {
    max-width: 400px;
    margin: auto;
}
.button-form {
    width: 200px;
    max-width: 200px;
    /*color: #1c7430;*/
    margin:auto;
}
.headerClass {
    color: #C0D06F;
    margin: 2rem 0;

}
.bg-guitars {
    background-color: #91a33b;
}
.navbar {
    min-height: 57px;
}
.label-color {
    color: #ffffff;
}
footer {
    color: #005cbf;
}
