body {
    background-color: #2F3336;
}
div {
    max-width: 400px;
    margin: auto;
}
button {
    width: 200px;
    max-width: 200px;
    color: #1c7430;
    margin:auto;
}
.headerClass {
    color: #C0D06F;
    margin: 2rem 0;

}
label {
    color: #ffffff;
}
footer {
    color: #005cbf;
}
